@Master['Master.html']
@Section['Content']

<section>
	<h1>@Model.Description</h1>

	<div class="container">
		<div class="row">
			<div class="col-sm-2">Code</div>
			<div class="col-sm-10">@Model.Code</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Type</div>
			<div class="col-sm-10">@Model.Type</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Category</div>
			<div class="col-sm-10">@Model.Category</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Amount</div>
			<div class="col-sm-10">@Model.Amount</div>
		</div>
	</div>
</section>

@EndSection
