<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SWPCC Billing</title>
    <link rel="stylesheet" href="/lib/normalize_css/normalize.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/docs/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>
    @Section['Header']
</head>
<body>
        
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">SWPCC Billing 2</a>
            <ul class="nav">
                <li><a href="/families">Families</a></li>
                <li><a href="/fees">Fees</a></li>
                <li><a href="/discounts">Discounts</a></li>
                <li><a href="/invoicing">Invoicing</a></li>
                <li><a href="/payments">Payments</a></li>
                <li><a href="/reports">Reports</a></li>
                <li><a href="/tools">Tools</a></li>
            </ul>
        </div>
    </div>

    @Section['Content']

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/docs/assets/js/bootstrap.js"></script>

    @Section['Scripts']

</body>
</html>