<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SWPCC Billing</title>
    <link rel="stylesheet" href="/vendor/normalize_css/normalize.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    @Section['Header']
</head>
<body>
        
    <div class="container">
    	@Section['Content']
    </div><!-- /.container -->

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>

    @Section['Scripts']

</body>
</html>